---
import Layout from '../../layouts/Layout.astro'
import Head from '../../components/Head.astro'
import ResumeTabs from '../../components/resumeTabs.vue'
import AboutTab from '../../components/aboutTab.astro'
import EducationTab from '../../components/educationTab.astro'
import SkillsTab from '../../components/skillsTab.astro'
import WorkExpTab from '../../components/workExpTab.astro'

const currentLang = Astro.currentLocale as 'en' | 'ru'
---

<Layout title='Resume | Nikita Golovlev, frontend-developer'>
	<Head lang={currentLang} />
	<section class='w-full'>
		<ResumeTabs client:load>
			<WorkExpTab lang={currentLang} slot='work-exp-tab' />
			<SkillsTab lang={currentLang} slot='skills-tab' />
			<EducationTab lang={currentLang} slot='education-tab' />
			<AboutTab lang={currentLang} slot='about-tab' />
		</ResumeTabs>
	</section></Layout
>
