---
import Layout from '../layouts/Layout.astro'
import ResumeTabs from '../components/resumeTabs.vue'
import AboutTab from '../components/aboutTab.astro'
import EducationTab from '../components/educationTab.astro'
import Head from '../components/Head.astro'
import SkillsTab from '../components/skillsTab.astro'
import WorkExpTab from '../components/workExpTab.astro'
const currentLang = Astro.currentLocale as 'ru' | 'en'
---

<Layout title="Резюме | Никита Головлёв, фронтенд-разработчик'">
	<Head lang={currentLang} transition:persist />
	<section class='container px-4 mx-auto sm:px-8'>
		<ResumeTabs client:load>
			<WorkExpTab lang={currentLang} slot='work-exp-tab' />
			<SkillsTab lang={currentLang} slot='skills-tab' />
			<EducationTab lang={currentLang} slot='education-tab' />
			<AboutTab lang={currentLang} slot='about-tab' />
		</ResumeTabs>
	</section></Layout
>
