---
import { links } from '../content/links'
import { translations } from '../i18n/translations'
import Github from '../icons/Github.astro'
import LinkedIn from '../icons/LinkedIn.astro'
import Telegram from '../icons/Telegram.astro'
import BigCtaButton from './BigCtaButton.astro'

const lang = (Astro.currentLocale as 'ru' | 'en') || 'en'
let date
if (lang == 'ru') {
  date = new Date()
    .toLocaleString('ru-RU', { year: 'numeric', month: 'long', localeMatcher: 'best fit' })
    .replace('г.', '')
} else {
  date = new Date()
    .toLocaleString('en-EN', { year: 'numeric', month: 'long', localeMatcher: 'best fit' })
    .replace('г.', '')
}
---

<footer class='px-4 lg:px-8 mb-8'>
  <div class='max-w-screen-xl mx-auto flex flex-col items-start justify-start gap-6'>
    <div class='w-full mb-20'>
      <BigCtaButton isBig={true} />
    </div>

    <div class='flex flex-col gap-6 lg:flex-row lg:items-center justify-between w-full'>
      <div class='flex flex-col gap-2 max-lg:order-2'>
        <p class='text-grey'>
          {translations[lang].last_updated}: <span class='capitalize'>{date}</span>
        </p>
        <p class='text-grey'>
          Design: <a href='https://irinavasyuk.ru/' target='_blank' class='hover:text-accent transition'
            >{translations[lang].irina_designer}</a
          >
        </p>
      </div>

      <div class='flex gap-4 lg:gap-6 items-center'>
        {
          links.map(link => (
            <a href={link.href} title={link.name} class='fill-grey hover:fill-accent transition ease-in'>
              {link.name === 'Telegram' ? <Telegram aria-hidden='true' /> : ''}
              {link.name === 'LinkedIn' ? <LinkedIn /> : ''}
              {link.name === 'GitHub' ? <Github /> : ''}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>

<script></script>
