---
import Image from 'astro/components/Image.astro'
import myPic from '../img/myPic_square.jpg'
import { getCollection } from 'astro:content'
import { translation } from '../i18n/translations'
const isPathResume = Astro.url.pathname.includes('resume')
const lang = (Astro.currentLocale as 'en' | 'ru') || 'en'
const head = await getCollection('head')
---

<section
  class='px-4 mx-auto sm:px-8 mt-28 lg:mt-32 mb-12 md:mb-16 flex flex-col md:grid md:grid-flow-col md:auto-cols-auto gap-6'>
  <Image
    class='basis-1/3 w-full max-w-36 rounded-full lg:max-w-56 object-contain aspect-square'
    src={myPic}
    alt={head[0].data.name[lang]}
  />
  <div>
    <p class='text-gray-500'>
      {translation[lang].head_hello}
    </p>
    <h1 class='text-3xl lg:text-4xl text-gray-900 mb-3'>{head[0].data.name[lang]}</h1>
    <p class='text-gray-900'>{head[0].data.description[lang]}</p>
    <div class='grid grid-cols-2 w-full gap-x-2 mt-6'>
      {
        isPathResume ? (
          <>
            <a
              class='flex flex-row grow items-center justify-center border sm:max-w-full text-center rounded border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transition py-2 px-4 max-h-min'
              target='_blank'
              href={head[0].data.resume_link[lang]}>
              <p class='w-full'>{translation[lang].open_pdf}</p>
            </a>
          </>
        ) : (
          <>
            <a
              class='flex flex-row items-center justify-center border grow w-full text-center rounded bg-hh-red hover:bg-red-700 text-white transition py-2 px-4'
              href={`/${lang}/resume`}>
              {translation[lang].check_resume}
            </a>
            <a
              class='flex flex-row items-center justify-center border grow w-full text-center rounded border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transition py-2 px-4'
              href={`/${lang}#cases__front-page`}>
              {translation[lang].check_portfolio}
            </a>
          </>
        )
      }
    </div>
  </div>
</section>
