---
import { translations } from '../i18n/translations'
import { getCollection } from 'astro:content'
import { links } from '../content/links'
type LangOptions = 'en' | 'ru'
let currentLang = (Astro.currentLocale as LangOptions) || 'en'
const head = await getCollection('head')
---

<nav class='flex gap-8 absolute left-0 right-0 justify-center'>
  <a class='hidden lg:block text-xl hover:text-accent transition' href='#projects'
    >{translations[currentLang].projects}</a
  >
  <a class='hidden lg:block text-xl hover:text-accent transition' href='#resume'
    >{translations[currentLang].experience}</a
  >
  <a class='hidden lg:block text-xl hover:text-accent transition' href='#education'
    >{translations[currentLang].education}</a
  >
  <a class='hidden lg:block text-xl hover:text-accent transition' href={head[0].data.resume_link[currentLang]}
    >{translations[currentLang].resume}</a
  >
  <div class='relative hidden lg:block'>
    <button class='links-list-button text-xl hover:text-accent transition' type='button'
      >{translations[currentLang].links} +</button
    >
    <ul class='links-list hidden absolute top-12 flex flex-col gap-4 p-3 border border-grey rounded-2xl bg-black'>
      {
        links.map(link => (
          <li>
            <a class='text-xl hover:text-accent transition' href={link.href}>
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
<script>
  import { hideOnClickOutside } from '../js/utils'
  const button = document.querySelector<HTMLElement>('.links-list-button')!
  const list = document.querySelector<HTMLElement>('.links-list')!
  const links = list.querySelectorAll('li')
  button?.addEventListener('click', () => {
    hideOnClickOutside(button, list)
    list?.classList.toggle('hidden')
  })

  //hide popup on link click
  links.forEach(link => {
    link.addEventListener('click', () => {
      list?.classList.add('hidden')
    })
  })
</script>
