---
import Rubricator from './Rubricator.astro'
import { translations } from '../i18n/translations'
import { getCollection } from 'astro:content'
import Project from './Project.astro'
import EducationList from './EducationList.astro'
const lang = 'en'
const educationData = await getCollection('education')
const description = educationData[0].data.description
const education = educationData[0].data.education
const courses = educationData[0].data.courses

function sortByDate(a: string, b: string) {
  const parsedEndDate = (string: string) => string.match(/[A-z]{3}\s\d{4}$/) || ''

  if (!parsedEndDate(a)[0] && !parsedEndDate(b)[0]) {
    return 0
  }

  const dateA = new Date(parsedEndDate(a)[0])
  const dateB = new Date(parsedEndDate(b)[0])

  if (dateA == dateB) return 0
  return dateA < dateB ? 1 : -1
}
---

<section id='education' class='px-4 lg:px-8 scroll-mt-20'>
  <div class='max-w-screen-xl mx-auto'>
    <Rubricator text={translations[lang].education} />
    <p class='text-2xl lg:text-4xl lg:leading-snug mb-8 max-w-4xl mt-6 lg:mt-8'>{description[lang]}</p>
    <div class='flex flex-col lg:grid grid-cols-2 gap-8 lg:gap-16'>
      <div>
        <Rubricator text={translations[lang].courses} />
        <EducationList items={courses.sort((a, b) => sortByDate(a.en.dates, b.en.dates))} />
      </div>
      <div class='flex flex-col'>
        <Rubricator text={translations[lang].higher_education} />
        <EducationList items={education} />
      </div>
    </div>
  </div>
</section>
