---
import Rubricator from './Rubricator.astro'
import { translations } from '../i18n/translations'
import { getCollection } from 'astro:content'
const lang = (Astro.currentLocale as 'ru' | 'en') || 'en'
const resumeCollection = await getCollection('resume')
const description = resumeCollection[0].data.description

const jobs = resumeCollection[0].data.jobs
---

<section id='resume' class='px-4 lg:px-8 scroll-mt-20'>
  <div class='max-w-screen-xl mx-auto'>
    <Rubricator text={translations[lang].experience} />
    <p class='text-2xl lg:text-4xl lg:leading-tight mb-8 lg:max-w-4xl mt-6 lg:mt-8'>{description[lang]}</p>
    <div class='flex flex-col lg:grid grid-cols-2 gap-14'>
      {
        jobs.map(job => (
          <div class='flex flex-col gap-5'>
            <div>
              <h3 class='text-2xl mb-1'>{job[lang].position}</h3>
              <p class='text-xl border-b pb-1 border-stroke'>{job[lang].company}</p>
              <p class='text-grey mt-1 text-xl'>{job[lang].dates}</p>
            </div>
            <ul class='list-disc pl-4 flex flex-col gap-2'>
              {job[lang].responsibilities.map(respItem => (
                <li class='text-xl text-grey' set:html={respItem} />
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>
